{% extends 'base3.html' %}
{% block content %}
<style>
    .button-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}
.button-container a {
    margin: 0 10px; }
    
    .btn.btn-primary{
            background-color:#23c4c4;
            border-color:#23c4c4;
            color: black;
            
        }

   .btn.btn-primary:hover {
    background: transparent;
    color: #23c4c4;
    border-color: #23c4c4;
   }
   #username{
    margin-top: 30px;
    /* margin-left: 120px; */
    color: #23c4c4;
    /* font-weight: bold; */
    font-size: 30px;
    font-family: fantasy;
   }
   .col-8{
    margin-left: 150px;
    height: 350px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   }
</style>
<div class="container">
{% if messages %}
    <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    {% if customer_profile %}
    <div class="row mt-5 mb-5">
        
        <div class="col-8">
            <center>
            <p id="username">{{ user.username }}</p>

            <br>
            <label>Email : </label>
            {{ user.email }}
            <br>
            <label>Phone : </label>
            {{ customer_profile.phone }}
            <br>
            <label>Address : </label>
            {{ user.address }}
            <br>
            <br>
            <div class="button-container justify-content-center">
                <a href="{% url 'customer_update' customer_profile.user.id %}" class="btn btn-primary">Update</a>
                <a href="#" class="btn btn-primary">Remove</a>
            </div>
        </center>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
